:root {
    --main-color: #1c2124;
    --moon-color: #f6f7f8;
    --light-blue: #159ce4;
    --light-main-color: #597183;
    --main-color-variant: rgb(35, 40, 43);
    --main-gradient: linear-gradient(to left,#9cf184,#3db5eb);
    --pink-gradient: linear-gradient(44.64deg,#159ce4,#e078d6);
    --pink-green-gradient: linear-gradient(47.32deg,#d991e0,#00c6d4 60.06%,#00ea60);
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 3000px;
}


body {
    background-color: var(--main-color);
    color: var(--moon-color);
}

.icon-menu {
    /*TODO Change link from WebStorm localhost*/
    -webkit-mask-image: url(http://localhost:63342/fernandopicoral.com/img/icons/menu-icon.svg);
    mask-image: url(http://localhost:63342/fernandopicoral.com/img/icons/menu-icon.svg);
}

.icon-md {
    font-size: 32px;
}

.icon {
    background-color: var(--moon-color);
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 32px;
    vertical-align: middle;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: all .3s ease-in-out;
}

.icon-text {
    font-family: var(--primary-font);
    color: var(--moon-color);
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.no-outline, .no-outline:focus, .no-outline:active {
    outline: none !important;
    box-shadow: none !important;
}

.a-btn-menu:hover > .icon-text {
    color: var(--light-blue);
}
.a-btn-menu:hover > .icon {
    background-color: var(--light-blue);
}

.a-btn-menu {
    cursor: pointer;
}

header {
    background-color: var(--main-color);
}

.header-logo {
    font-family: var(--primary-font);
    color: var(--moon-color);
    font-size: 2rem;
}

.header-logo:hover {
    text-decoration: none;
    color: var(--moon-color);
}

.header-code-icon {

}

.header-code-icon > span {
    font-size: 80%;
}

.menu {
    padding: 130px 40px 40px;
    position: fixed;
    height: 100vh;
    background-color: var(--main-color);
    width: 100vw;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    left: 100vw;
}

.menu-open {
    z-index: 100;
    opacity: 1;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
}

.menu-item {
    list-style-type: none;
    padding-bottom: 5px;
}

.menu-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--light-main-color);
}

.menu-link:hover {
    color: var(--moon-color);
    font-weight: 600;
    text-decoration: none;
}

.main-wrap {
    z-index: 10;
}

.logo-wrap {
    z-index: -1;
    top: 96px;
    position: sticky;
    position: -webkit-sticky;
    margin-bottom: 100px;
}

.logo {
    min-height: 500px;
    flex-direction: column;
}

.logo > h1 {
    font-weight: 600;
    font-family: var(--primary-font);
    font-size: 100px;
}

.logo > hr {
    background-color: var(--moon-color);
    width: 500px;
}

.logo > h2 {
    font-family: var(--secondary-font);
    margin-top: 20px;
    font-size: 30px;
    font-weight: 100;
}

.overflow-h {
    overflow: hidden;
}

.rainbow-text {
    background: var(--main-gradient);
    background-size: 200% auto;
    color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s ease infinite;
}

.main-card-wrap {
    margin-top: 50px;
    border-radius: 16px;
    background-color: transparent;

    -webkit-box-shadow: 15px 15px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 15px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 30px 0px rgba(0,0,0,0.75);
}

#projects-wrap {
    background-color: var(--main-color-variant);
}

.projects-header {
    background: var(--pink-gradient);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 150px;
}

.projects-header > h1 {
    padding: 50px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 700;
}

.projects > h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    color: #597183;
    margin: 0;
}

.project {
    height: 500px;
}

.project-content {

}

.project > .row {
    border: 1px solid var(--moon-color);
    height: 100%;
    border-radius: 10px;
}

.skills-wrap {
    box-shadow: none !important;
}

.skills-col {
    border-radius: 16px;
    background-color: var(--moon-color);
    height: 550px;
    box-shadow: 15px 15px 30px 0px rgba(0,0,0,0.75);
}

.skills-header {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 100px;
}

/*//TODO Change image links*/
.skills-header.front-end-img {
    background-image: url("/fernandopicoral.com/img/html-code.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

.skills-header.back-end-img {
    background-image: url("/fernandopicoral.com/img/js-code.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

.skills-header.center-col {
    background: var(--pink-green-gradient);
}

.skills-header > h1 {
    margin: 0;
    font-family: var(--primary-font);
    font-weight: 400;
}

.skills-body {
    font-family: var(--secondary-font);
    padding: 40px 50px 50px 50px;
    line-height: 1.9rem;
    font-weight: 400;
    color: black;
}

.skills-body > ul {
    padding: 0;
    margin-top: 2rem;
    text-align: center;
}

.skills-body > ul > li {
    display: inline-block !important;
    list-style-type: none;
    margin-top: .5rem;
    font-size: 1.2rem;
}

.skills-body > ul > li > img {
    display: inline-block;
    width: 20px;
}

.page-dot {
    cursor: pointer;
    color: var(--moon-color);
    font-size: .8rem;
    padding-left: 10px;
    padding-right: 10px;

    transition: all .2s ease-in-out;
}

.page-dot-active, .page-dot-active:hover {
    cursor: default !important;
    font-size: .8rem !important;
}

.page-dot:hover {
    font-size: 1rem;
}

.page-dot-active {
    color: var(--light-blue);
}

.a-btn-col {
    display: flex !important;
    align-items: center !important;

    background-color: transparent;
    transition: background-color .5s ease-in-out;
}

.a-btn-col:hover {
    /*background-color: rgba(89,113,131,0.6);*/
}

.a-btn-control {
    color: var(--moon-color);
    font-size: 40px;

    transition: all .15s ease-in-out;
}

.a-btn-control:hover {
    color: var(--light-blue);
    font-size: 60px;
}

.a-btn-nxt {

}

.a-btn-bfr {

}

.contact {
    background-color: var(--main-color-variant);
}

.contact-form > .form-group > label {
    font-family: var(--primary-font);
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.contact-form button {
    border-radius: 10px !important;
}

.contact-form > .form-group > .form-control {
    background-color: #ced4da !important;
    border-radius: 10px !important;
}

.contact-form > .form-group > input {
    height: 45px;
}

.contact-form > .form-group >  .form-control:active, .contact-form > .form-group > .form-control:focus {
    background-color: #fff !important;
}

.contact-form > .form-group > label[for="contact-name"] {
    margin-top: 0;
}

.br-16 {
    border-radius: 16px !important;
}

.contact-header {
    background: var(--main-gradient);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 150px;
}

.contact-header > h1 {
    padding: 50px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 700;
}

footer {
    z-index: 20;
    background: #384248;
    height: 100%;
    padding-bottom: 20px;
    border-image-source: linear-gradient(47.32deg,#d991e0,#00c6d4 60.06%,#00ea60);
    border-image-slice: 1;
    border-top-style: solid;
    border-top-width: 5px;
    margin-top: 150px;
}

footer > h1{
    color: var(--moon-color);
    display: inline-block !important;
    cursor: pointer;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 60px;
    margin-top: 50px;
}

footer > a:hover {
    text-decoration: none;
}

footer > ul {
    margin: 15px 0 0 0;
    padding: 0;
    text-align: center;
}

footer > ul > a {
    color: rgba(0, 0, 0, 0.62);
    position: relative;
    display: inline-block;
    margin-right: 25px;
    list-style-type: none;
    font-size: 3rem;
    transform-origin: center;
    transition: all .3s ease-in-out;
}

footer > ul > a:hover {
    cursor: pointer;
    transform: scale(1.25);
}

footer > p {
    margin: 20px 0 0 0;
    font-family: var(--secondary-font);
    font-size: .9rem;
}

footer > ul > a:nth-child(3) {

}

.scroll-anim {
    font-size: 15px;
    animation-name: scroll-down-anim;
    animation-timing-function: linear;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.scroll-anim > i, span {
    color: var(--light-blue);
}

@keyframes scroll-down-anim {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(15px); }
    100% { transform: translateY(0); }
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/*::-webkit-scrollbar-track*/
/*{*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*    border-radius: 10px;*/
/*    background-color: #F5F5F5;*/
/*}*/

/*::-webkit-scrollbar*/
/*{*/
/*    width: 6px;*/
/*    background-color: #F5F5F5;*/
/*}*/

/*::-webkit-scrollbar-thumb*/
/*{*/
/*    border-radius: 10px;*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
/*    background-color: #D62929;*/
/*}*/

