#Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^fernandopicoral.com[nc]
RewriteRule ^(.*)$ http://www.fernandopicoral.com/$1 [r=301,nc]

#Custom 403 errors
ErrorDocument 403 /403.html

#Custom 404 errors
ErrorDocument 404 /404.html

#Custom 500 errors
ErrorDocument 500 /500.html

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Prevent directory listings
Options All -Indexes

#Remove file extension .html & .php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

#Deny access to .git files
#Todo deny from all package.json & package-lock.json - see if can be done with node_modules
<FilesMatch "\.(gitignore|gitattributes)$">
Order allow,deny
Deny from all
</FilesMatch>