# DISABLE CACHING
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

# FORCE HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=/(.*?)/.fernandopicoral.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteCond %{HTTP_HOST} ^fernandopicoral\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.fernandopicoral\.com$

# REMOVE A2 HOSTING DIRS ACCESS
RewriteRule ^cgi-bin/(.*)$ /error\?err\=403 [R=301,NC,L]
RewriteRule ^cpanel/(.*)$ /error\?err\=403 [R=301,NC,L] # NOT WORKING
RewriteRule ^webmail/(.*)$ /error\?err\=403 [R=301,NC,L] # NOT WORKING