:root {
    /*Colors*/
    --main-color: #1c2124;
    --main-color-light: rgb(35, 40, 43); /*Main color variant*/

    --light-gray: #597183; /*light main color*/
    --light-white: #f6f7f8; /*moon color*/
    --light-blue: #159ce4;

    /*Gradients*/
    --main-gradient: linear-gradient(to left,#9cf184,#3db5eb);
    --pink-gradient: linear-gradient(44.64deg,#159ce4,#e078d6);

    /*Fonts*/
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

/*BS4 'xs' breakpoint (mobile)*/
@media screen and (max-width: 576px) {}