<%//Depends on jQuery and BS4. It's assumed that the libs are already instantiated%>
<footer class="container-fluid text-center">
    <link rel="stylesheet" href="/css/templates/footer.css">
    <h1>Picoral</h1>
    <ul class="text-center">
        <a href="#" target="_blank"><i class="fab f fa-facebook-square"></i></a>
        <a href="#" target="_blank"><i class="fab t fa-twitter-square"></i></a>
        <a href="#" target="_blank"><i class="fab r fa-reddit"></i></a>
        <a href="#" target="_blank"><i class="fab l fa-linkedin"></i></a>
        <a href="#contact"><i class="far m fa-envelope"></i></a>
        <a href="#" target="_blank"><i class="fab i fa-instagram"></i></a>
    </ul>
    <p class="text-center">Copyright &copy; Fernando Picoral 2019</p>
</footer>
<script async src="/js/templates/footer.js"></script>
